[submodule "https://github.com/fire/godot.git"]
	path = https://github.com/fire/godot.git
	url = fire-godot
[submodule "godot"]
	path = godot
	url = https://github.com/V-Sekai/godot.git
[submodule "godot-blender"]
	path = godot-blender
	url = https://github.com/V-Sekai/godot-blender.git
